* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  transform-style: preserve-3d;
  perspective: 1px;
}

section {
  width: 100%;
  height: 100%;
}

.bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
}

.bg-1 {
  background-attachment: scroll;
  background-image: url("./images/activity-adventure-back-view-2106776.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: inherit;
}

section.bg.bg-1 h1 {
  color: white;
}

/* Self learning 
in JS
let results = Splitting({
    target: target,
    by: 'chars/words/lines/items',
    if by items then, matching: 'li'
}) */

.splitting .char {
  animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
    opacity: 0;
  }
}

.bg-2 {
  background-image: url("./images/aircraft-aircraft-wing-airplane-2007401.jpg");
}

.bg-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/ancient-arch-architecture-2087391.jpg");
}

.bg-4 {
  background-image: url("./images/coconut-trees-couple-daylight-2174656.jpg");
}

.bg-5 {
  background-image: url("./images/clouds-daylight-environment-2082949.jpg");
}

/* .parallax {
    position: relative;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    transform-style: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax::before {
    content: "";
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    background-image: url('./images/clouds-daylight-environment-2082949.jpg');
    transform-origin: center center 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100%;
    max-height: 100%;


} */
